<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="bodyContainer">
        <div class="containerLogin">
        <form action="/login" method="post">
                <div class="contenedorAuth">
                    <h1>Login de Administrador</h1>
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <button type="submit" class="btnEnviar">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
