html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color: #d1d1d1;
    color: #333;
    margin: 0;
    padding: 0;
}
.header{
    background: linear-gradient(to bottom, #007c98, #007c98 95%, rgba(0, 124, 152, 0) 100%);
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow: column wrap;
    padding-bottom: 15px;
}
.titleContainer{
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    flex-flow: column wrap;
    width:45%;
}
.titleContainer .title img{
    width:50%;
    object-fit: cover;
}
.titleContainer p{
    margin:0;
    padding: 0.4em;
    font-size: 3.5em;
    text-shadow: 1px 1px 2px #000;
    color: #ebebeb;
}
.cardContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow: column wrap;
    width:90%;
    align-self:center;
}
.card{
    background-color: rgba(255,255,255,.55);
    border: 1px solid #f3bc00;
    border-radius:1em;
    margin:10px 10px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 95px;
    width:100%;
    max-width:600px; 
    transition: all .5s ease;
    text-align: justify;
}
.card:hover{
    transform: translateY(-3px);
}
.card p{
    padding:4px;
}
.card p a{
    color: #f3bc00;
    text-shadow: 0 0 3px #000;
    text-decoration: none;
    font-weight: 500;
}
.card i{
    height:100%;
    width:auto;
    padding: 3px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 0 10px;
    font-size: 2em;
    color: #ebebeb;
}
@media (min-width:960px){
    .cardContainer{
        flex-flow: row wrap;
        gap:10px;
        margin: 0px 10px;
    }
    .card{
        width:30%;
    }
}
.formContainer {
    max-width: 1020px;
    width:90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.opciones {
    margin-bottom: 20px;
}

.opcion {
    display: block;
    margin-bottom: 5px;
}

.opcion .valor {
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}
