html{
    scroll-behavior: smooth;
}
/* Estilo para navegadores Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Fondo del track del scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #40b8d0, transparent); /* Gradiente del pulgar del scrollbar */
    border-radius: 10px; /* Borde redondeado del pulgar */
    border: 3px solid transparent; /* Espacio alrededor del pulgar */
    background-clip: padding-box; /* Para evitar que el color del pulgar invada los bordes */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #40b8d0, #007c98); /* Cambia el color del pulgar al pasar el mouse */
  }
  
  /* Estilo para navegadores Firefox */
  body {
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #40b8d0 transparent; /* Color del scrollbar (pulgar y track) */
  }
  
  body:hover {
    scrollbar-color: #007c98 transparent; /* Cambia el color del pulgar al pasar el mouse */
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #d1d1d1;
    color: #333;
    margin: 0;
    padding: 0;
}
.header{
    background: linear-gradient(to bottom, #007c98, #007c98 95%, rgba(0, 124, 152, 0) 100%);
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow: column wrap;
    padding-bottom: 15px;
}
.pregunta.oculta {
    display: none;
}

.pregunta.visible {
    display: block;
}
.oculta {
    display: none;
}

.titleContainer{
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    flex-flow: column wrap;
    width:100%;
}
.titleContainer .title img{
    width:30%;
    object-fit: cover;
    max-width:750px;
}
.titleContainer p{
    margin:0;
    padding: 0.4em;
    font-size: 3.5em;
    text-shadow: 1px 1px 2px #000;
    color: #ebebeb;
}
.cardContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow: column wrap;
    width:90%;
    align-self:center;
}
.card{
    background-color: rgba(255,255,255,.55);
    border: 1px solid #f3bc00;
    border-radius:1em;
    margin:10px 10px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 100%;
    width:100%;
    max-width:600px; 
    transition: all .5s ease;
    text-align: justify;
}
.card:hover{
    transform: translateY(-3px);
}
.card p{
    padding:4px;
    width:100%;
}
.card p a{
    color: #f3bc00;
    text-shadow: 0 0 3px #000;
    text-decoration: none;
    font-weight: 500;
}
.card i{
    height:100%;
    width:auto;
    padding: 3px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 0 10px;
    font-size: 2em;
    color: #ebebeb;
}
@media (min-width:960px){
    .cardContainer{
        flex-flow: row wrap;
        gap:10px;
        margin: 0px 10px;
    }
    .card{
        width:25%;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-flow: column wrap;
        padding: 20px;
    }
    .header{
        background: linear-gradient(to bottom, #007c98, #007c98 65%, rgba(0, 124, 152, 0) 95%);
    }

}

.identificacion{
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.identificacion input{
    width:40%;
}
.formContainer {
    max-width: 1020px;
    width:90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.titleQuestion{
    margin: 2em auto;
    width:80%;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.opciones {
    padding: 3em 0;
    margin-bottom:3em;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-flow:row wrap;
}

.opcion {
    display: block;
    margin-bottom: 5px;
    
}

.opcion .valor {
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}
/* Ocultar el radio button original */
.opcion input[type="radio"] {
    display: none; /* Ocultar el radio button predeterminado */
}

/* Estilo común para todos los radios personalizados */
.custom-radio {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ccc; /* Color del borde del círculo */
    background-color: white; /* Color de fondo del círculo */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    position: relative; /* Posición para el ::after */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}

/* Tamaño del círculo más grande */
.custom-radio-1 {
    width: 54px; 
    height: 54px; 
}

/* Tamaño del círculo medio */
.custom-radio-2 {
    width: 26px; 
    height: 26px; 
}

/* Tamaño del círculo más pequeño */
.custom-radio-3 {
    width: 16px; 
    height: 16px; 
}
.custom-radio-4 {
    width: 26px; 
    height: 26px; 
}
.custom-radio-5 {
    width: 54px; 
    height: 54px; 
}



/* Estilo cuando el radio está seleccionado */
.custom-radio::after {
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Oculto inicialmente */
    transition: transform 0.2s; /* Transición suave */
}

.custom-radio-5::after,
.custom-radio-4::after,
.custom-radio-2::after,
.custom-radio-1::after {
    background-color: #007c98; /* Color cuando está seleccionado */
}
.custom-radio-3::after {
    background-color: #a4a4a4; /* Color cuando está seleccionado */
}

/* Mostrar el círculo interior cuando el radio está seleccionado */
.opcion input[type="radio"]:checked + .custom-radio::after {
    transform: translate(-50%, -50%) scale(1); /* Mostrar círculo interior */
}

/* Cambiar color del borde y fondo cuando está seleccionado */
.opcion input[type="radio"]:checked + .custom-radio-1 {
    border-color: #40b8d0; 
    background-color: #59b1c39f; 
    box-shadow: 0 0 5px #59b1c3;
}
.opcion input[type="radio"]:checked + .custom-radio-2 {
    border-color: #6dc2d7; 
    background-color: #33a1b5; 
    box-shadow: 0 0 5px #33a1b5;
}
.opcion input[type="radio"]:checked + .custom-radio-3 {
    border-color: #e2e3e5; 
    background-color: #ccccccd7; 
    box-shadow: 0 0 5px #000;
}
.opcion input[type="radio"]:checked + .custom-radio-4 {
    border-color: #c5a1d5; 
    background-color: #a78bb9b1; 
    box-shadow: 0 0 5px #a78bb9b1;
}
.opcion input[type="radio"]:checked + .custom-radio-5 {
    border-color: #9b4d9c; 
    background-color: #7f3d7d; 
    box-shadow: 0 0 5px #7f3d7d;
}

/* Cambiar color del borde al pasar el ratón */
.custom-radio:hover {
    border-color: #f3bc00; /* Color del borde en hover */
}

.btnContinuar, .btnEnviar{
    width:450px;
    margin: 0 auto;
}
.btnContinuar{
    background-color: #40b8d0;
}
.btnContinuar:hover{
    background-color: #007c98;
}
.btnEnviar{
    background-color: #f3bc00;
}
.btnEnviar:hover{
    background-color: #f39e00;
}

/* PANTALLA LOGIN */
.bodyContainer{
    width:100%;
    height: 100vh;
    background-color: #333;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-flow:column wrap;
}
.containerLogin{
    display:flex;
    align-items:center;
    flex-flow: column wrap;
    justify-content:space-between;
    border: 1px solid #59b1c3;    
    border-radius: 1em;
    padding:1em;
    background-color: #252525;
}
.contenedorAuth{
    display:flex;
    width: 450px !important;
    height: 300px;
    align-items:center;
    justify-content:space-evenly;
    flex-flow:column wrap;
    color: #ebebeb;
    width:100%;
}



/* ESTILOS PÁGINA ADMINISTRADOR */

.containerAdministrador{
    width:90%;
    margin: 0 auto;
}
.preguntaEliminar,
.preguntaNueva{
    display:flex;
    align-items:center;
    flex-flow: column wrap;
}
.preguntaEliminarSelect,
.preguntaNuevaInput{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow: row wrap;
    width:100%;
}
.preguntaEliminar select,
.preguntaNuevaInput input{
    width: 70%;
    margin:0;
}
.preguntaNuevaInput .btnEnviar,
.preguntaEliminar .btnEnviar{
    width:20%;
}
.respuestasRecibidas{
    overflow-x: auto;
}
.respuestasRecibidas .respuestas ul{
    max-height:300px;
    width:750px;
    overflow-y: auto;
}
.bannerAdmin{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #59b1c3;
    width:100%;
    padding:1em;    
}
.bannerAdmin h1 {
    color:#ebebeb;
}
.bannerAdmin h1,
.bannerAdmin a{
    margin: 0 40px;
}
.bannerAdmin a{
    background-color: #ffafaf;
    text-decoration: none;
    color:#ebebeb;
    padding: 1em;
    border-radius:2em;
    transition: all .5s ease;
}
.bannerAdmin a:hover{
    background-color: #ff6c6c;

}